html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  justify-content: center;
  padding: 18px 0;
  font-family: "Montserrat", sans-serif;
  background-color: #67AEFC;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}
.header_container {
  width: 1194px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_block, .header_list {
  display: flex;
  align-items: center;
}
.header_link {
  text-decoration: none;
  color: #FFFFFF;
}
.header_link:hover {
  color: #2e72b9;
}
.header_item {
  margin-right: 36px;
}
.header_item:last-of-type {
  margin-right: 30px;
}
.header_btn {
  width: 170px;
  height: 37.78px;
  background-color: #75E169;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  align-items: center;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
.header_btn:hover {
  border: 1px solid #FFFFFF;
}
.header_btn:active {
  color: #67AEFC;
  background-color: #FFFFFF;
}
.header_menu {
  display: none;
}

.main_block {
  position: relative;
  width: 1194px;
  margin: 0 auto;
  padding: 171px 0 180px 0;
  display: flex;
  align-items: center;
}
.main_title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: #484848;
}
.main_text {
  width: 432px;
  margin-bottom: 58px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
.main_btn {
  width: 270px;
  height: 60px;
  background-color: #75E169;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}
.main_btn:hover {
  border: 2px solid #67AEFC;
  box-sizing: border-box;
}
.main_btn:active {
  color: #FFFFFF;
  background-color: #67AEFC;
}
.main_svg {
  position: absolute;
  top: 172.57px;
  left: -136px;
}

.services {
  width: 100%;
  padding: 120px 0;
  background-color: #DAECFF;
}
.services_block {
  position: relative;
  width: 1194px;
  margin: 0 auto;
}
.services_title {
  margin-bottom: 70px;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #111111;
}
.services_list {
  width: 1169px;
}
.services_arrow__closed, .services_arrow__opened {
  cursor: pointer;
}
.services_arrow__closed.active {
  display: none;
}
.services_arrow__opened {
  display: none;
}
.services_arrow__opened.active {
  display: block;
}
.services_bag__img {
  position: absolute;
  bottom: 0;
  right: -231px;
}
.services_item {
  padding: 0 39px 0 44px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  border-radius: 15px;
  color: #111111;
}
.services_item__block svg {
  margin-right: 28px;
}
.services_item__block_title {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #111111;
}
.services_item__circle.active {
  fill: #67AEFC;
}
.services_item__text_block {
  display: flex;
  justify-content: space-between;
}
.services_item__text_block_arrow {
  cursor: pointer;
}
.services_item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 61px;
}
.services_item__text {
  display: none;
}
.services_item__text.active {
  display: block;
  padding: 20px 0 54px 0;
  background: white;
  box-sizing: border-box;
  border-radius: 15px;
}
.services_item__text.active_title {
  display: flex;
}
.services_item__text.active_title svg {
  margin-right: 28px;
}
.services_item__text.active h2 {
  margin-bottom: 41px;
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: #111111;
}
.services_item__text.active p {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #000000;
  padding-left: 40px;
  border-left: 1px solid #000000;
}
.services_item:last-of-type {
  margin: 0;
}
.services_item__block {
  display: flex;
  align-items: center;
}
.services_item__block svg {
  margin-right: 28px;
}
.services_item__block:hover {
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
}
.services_item__block_title.active {
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: #111111;
}

.steps {
  width: 100%;
}
.steps_block {
  position: relative;
  width: 1194px;
  margin: 0 auto;
  padding: 123px 0 128px;
}
.steps_title {
  margin-bottom: 84px;
  text-align: center;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  color: #000000;
}
.steps_btns {
  display: flex;
  justify-content: center;
  margin-top: 84px;
}
.steps_btn__prev, .steps_btn__next {
  position: static;
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: 2px solid #67AEFC;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
}
.steps_btn__prev {
  margin-right: 30px;
}
.steps .steps_btn__prev_icon {
  background-image: url(../images/step_arrow1.svg);
}
.steps .steps_btn__next_icon {
  background-image: url(../images/step_arrow2.svg);
}
.steps_list {
  display: flex;
}
.steps_container {
  width: 672px;
  height: 389px;
  display: flex;
  align-items: center;
  padding: 0 33px 0 70px;
  border: 2px solid #67AEFC;
  border-radius: 15px;
  box-sizing: border-box;
}
.steps_container__title {
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: #000000;
}
.steps_container__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}
.steps_container__img {
  width: 250px;
  height: 250px;
}
.steps_svg {
  position: absolute;
  top: 129px;
}
.steps_svg__second {
  position: absolute;
  bottom: 47px;
  right: 0;
}

.examples {
  width: 100%;
  padding: 121px 0;
  background-color: #DAECFF;
}
.examples_block {
  width: 1194px;
  position: relative;
  margin: 0 auto;
}
.examples_block__img {
  position: relative;
  margin-bottom: 38px;
}
.examples_block__info {
  display: none;
}
.examples_block__info.active {
  display: block;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 570px;
  height: 440px;
  z-index: 5;
  background-color: #80b0e5;
  border-radius: 14px;
  cursor: pointer;
}
.examples_block__info.active h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: #FFFFFF;
}
.examples_block__info.active p {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #FFFFFF;
}
.examples_title {
  margin-bottom: 51px;
  text-align: center;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  color: #000000;
}
.examples_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.examples_container__img {
  width: 570px;
  height: 440px;
  cursor: pointer;
}
.examples_container__last_img {
  height: 440px;
  width: 570px;
  cursor: pointer;
}
.examples_container__svg {
  width: 108.44px;
  height: 108.44px;
  position: absolute;
  bottom: 123.64px;
  right: -248px;
}
.examples_container__svg_second {
  width: 130.96px;
  height: 189.92px;
  position: absolute;
  top: 89px;
  left: -269.82px;
}
.examples_btns {
  display: none;
}
.examples .carousel {
  display: none;
}

.info_block {
  position: relative;
  width: 1194px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 214px 0 180px;
}
.info_title {
  margin-bottom: 53px;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  color: #111111;
}
.info_title__mobile {
  display: none;
}
.info_text {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #111111;
}
.info_btn {
  width: 269.86px;
  height: 60px;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #75E169;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.info_btn:hover {
  border: 2px solid #67AEFC;
  box-sizing: border-box;
}
.info_btn:active {
  color: #FFFFFF;
  background-color: #67AEFC;
}
.info_svg {
  position: absolute;
  top: 209px;
  left: -220.8px;
}

.discuss {
  width: 100%;
  padding: 180px 0 128px;
  background-color: #DAECFF;
}
.discuss_block {
  width: 479px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.discuss_title {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  color: #111111;
}
.discuss_text {
  margin-bottom: 27px;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  text-align: center;
  color: #111111;
}
.discuss_form {
  display: flex;
  flex-direction: column;
}
.discuss input {
  width: 470px;
  height: 58px;
  margin-bottom: 20px;
  padding: 19px 0 19px 14px;
  box-sizing: border-box;
  border: 1px solid #6EB1FB;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #939393;
}
.discuss_btn {
  margin-top: 10px;
  width: 270px;
  height: 60px;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  color: #F9F9F9;
  border-radius: 5px;
  background-color: #6BD75F;
  border: none;
  cursor: pointer;
}
.discuss_btn:hover {
  border: 2px solid #67AEFC;
  box-sizing: border-box;
}
.discuss_btn:active {
  color: #FFFFFF;
  background-color: #67AEFC;
}
.discuss_svg {
  position: absolute;
  top: 0;
  right: -354px;
}
.discuss_svg__mobile {
  display: none;
}
.discuss_svg_phone {
  width: 206.26px;
  height: 268.03px;
  position: absolute;
  top: 0;
  left: -320.43px;
}

.footer {
  width: 100%;
  background-color: #64ABF9;
}
.footer_block {
  width: 1194px;
  margin: 0 auto;
  padding: 99px 0 81px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.footer_block > div:first-child {
  margin-right: 124px;
}
.footer_logo {
  width: 280px;
  height: 66px;
}
.footer_container {
  margin-top: 45px;
}
.footer_container__img {
  cursor: pointer;
  margin-right: 38.43px;
}
.footer_container__img:last-of-type {
  margin: 0;
}
.footer_container__img:hover {
  background-color: #6c6cff;
}
.footer_contact {
  display: flex;
  color: #FFFFFF;
  cursor: pointer;
}
.footer_phone {
  margin: 0 107px 134px 0;
}
.footer_phone p {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}
.footer_phone p:last-of-type {
  margin-bottom: 0;
}
.footer_phone p:hover {
  color: blue;
}
.footer_phone p img {
  margin-right: 5px;
}

.carousel-inner {
  justify-content: center;
}

div.carousel-item {
  width: auto;
  margin-right: 0;
}

@media (max-width: 1760px) {
  .services_bag__img,
.main_svg,
.steps_svg,
.steps_svg__second,
.examples_container__svg,
.info_svg,
.discuss_svg_phone,
.discuss_svg {
    display: none;
  }
}
@media (min-width: 1160px) and (max-width: 1275px) {
  .info_block,
.examples_block,
.steps_block {
    width: auto;
  }
  .header_container {
    margin: 0 20px;
  }
  .main_block {
    width: auto;
    padding: 140px 20px;
  }
  .main_container {
    width: auto;
    padding: 0;
  }
  .main_img {
    width: 550px;
    height: 506px;
  }
  .services {
    padding: 120px 20px;
  }
  .services_block {
    width: auto;
  }
  .services_list {
    width: auto;
    margin: 0 90px;
  }
  .steps_block {
    padding: 120px 0 120px 20px;
  }
  .examples_block {
    padding: 121px 20px;
  }
  .examples_container__img, .examples_container__last_img {
    width: 520px;
    height: 410px;
  }
  .examples_block__info.active {
    width: 520px;
    height: 410px;
  }
  .info_block {
    padding: 214px 20px 180px;
  }
  .footer_block {
    width: auto;
    padding: 30px 20px;
  }
}
@media (min-width: 950px) and (max-width: 1160px) {
  .header {
    padding: 20px 40px;
  }
  .header_menu {
    display: none;
  }
  .main_block {
    width: auto;
    margin: 0 auto;
    padding: 140px 40px;
  }
  .main_container {
    width: auto;
  }
  .main_img {
    width: auto;
    height: 315px;
  }
  .services {
    padding: 120px 40px;
  }
  .services_block {
    width: auto;
    padding: 0;
  }
  .services_list {
    width: auto;
  }
  .steps_block {
    width: auto;
    padding: 120px 0 125px 40px;
  }
  .examples {
    padding: 110px 40px;
  }
  .examples_block {
    width: auto;
  }
  .examples_block__info.active {
    width: 385px;
    height: 380px;
  }
  .examples_btns {
    display: none;
  }
  .examples_container__img, .examples_container__last_img {
    width: 385px;
    height: 380px;
  }
  .info_block {
    width: auto;
    padding: 214px 40px 180px;
  }
  .info_block img {
    width: 440px;
  }
  .footer_block {
    width: auto;
    padding: 30px 40px;
    justify-content: flex-start;
  }
}
@media (min-width: 768px) and (max-width: 950px) {
  .header_nav,
.header_btn,
.services_bag__img,
.examples_container__svg,
.discuss_svg_phone,
.discuss_svg {
    display: none;
  }
  .header {
    padding: 20px;
  }
  .header_container {
    width: 100%;
  }
  .header_menu {
    display: block;
  }
  .header_menu__modal_window.active {
    display: block;
  }
  .header_menu__modal_window {
    display: none;
    position: absolute;
    right: 0;
    top: 99px;
    padding: 42px 0 49px 0;
    z-index: 3;
    background-color: #67AEFC;
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .header_menu__modal_window__list {
    width: 377px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
  }
  .header_menu__modal_window_item {
    margin-bottom: 43px;
    padding-bottom: 2px;
    box-sizing: border-box;
  }
  .header_menu__modal_window_item:last-of-type {
    padding: 0;
  }
  .header_menu__modal_window_item:hover {
    border-bottom: 1px solid #FFFFFF;
    box-sizing: border-box;
  }
  .header_menu__btn {
    margin: 0 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .header_menu__btn svg:nth-child(2) {
    margin: 0 5px 0 5px;
  }
  .main {
    width: 100%;
  }
  .main_block {
    width: auto;
    flex-direction: column-reverse;
    padding: 50px 20px;
  }
  .main_title {
    margin: 40px 0 20px 0;
  }
  .main_text {
    width: 100%;
  }
  .main_container {
    width: auto;
    padding: 0;
    text-align: center;
  }
  .main_img {
    width: 518px;
    height: 416px;
  }
  .services {
    padding: 100px 20px;
  }
  .services_block, .services_list {
    width: auto;
  }
  .services_block {
    padding: 0;
  }
  .steps_btns {
    justify-content: space-between;
  }
  .steps_block {
    width: auto;
    padding: 100px 20px;
  }
  .steps_container {
    width: auto;
  }
  .steps .carousel-inner {
    display: block;
  }
  .examples {
    padding: 100px 20px;
  }
  .examples_btns {
    display: block;
    margin-top: 84px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  .examples_container {
    display: none;
  }
  .examples_container__images {
    margin: 0 40px 0 0;
  }
  .examples_container__img, .examples_container__last_img {
    width: 100%;
    height: auto;
  }
  .examples .carousel {
    display: block;
  }
  .examples .carousel-control-prev,
.examples .carousel-control-next {
    position: static;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border: 2px solid #67AEFC;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
  }
  .examples .carousel-control-next-icon {
    background-image: url("../images/step_arrow2.svg");
  }
  .examples .carousel-control-prev-icon {
    background-image: url("../images/step_arrow1.svg");
  }
  .examples_block {
    width: auto;
    overflow: hidden;
    padding: 0;
  }
  .examples_block__info.active {
    width: 100%;
    height: 100%;
  }
  .examples_block__info.active h2 {
    font-size: 25px;
  }
  .examples_block__info.active p {
    font-size: 20px;
  }
  .info_img {
    width: 500px;
    height: 440px;
  }
  .info_block {
    flex-direction: column;
    width: auto;
    padding: 150px 20px 100px 20px;
  }
  .footer_container__img {
    margin-right: 26px;
  }
  .footer_block {
    width: auto;
    justify-content: space-between;
    padding: 100px 20px;
  }
  .footer_block > div:first-child {
    margin-right: 30px;
  }
  .footer_phone {
    margin: 0 63px 97px 0;
  }
  .footer_phone p {
    margin-bottom: 30px;
  }
  div.carousel-item {
    width: 100%;
    margin-right: -100%;
  }
}
@media (min-width: 365px) and (max-width: 768px) {
  .header_nav,
.header_btn,
.examples_container {
    display: none;
  }
  .header {
    display: block;
    position: relative;
    padding: 9px 20px 5px 12px;
  }
  .header_logo {
    width: 136px;
    height: 35px;
  }
  .header_container {
    width: auto;
  }
  .header_menu {
    display: block;
  }
  .header_menu__modal_window.active {
    display: block;
    width: 100%;
    right: 0;
    top: 49px;
  }
  .header_menu__modal_window {
    display: none;
    position: absolute;
    right: 15px;
    top: 75px;
    padding: 42px 0 49px 0;
    z-index: 3;
    background-color: #67AEFC;
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .header_menu__modal_window__list {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
  }
  .header_menu__modal_window_item {
    margin-bottom: 43px;
    padding-bottom: 2px;
    box-sizing: border-box;
  }
  .header_menu__modal_window_item:last-of-type {
    padding: 0;
  }
  .header_menu__modal_window_item:hover {
    border-bottom: 1px solid #FFFFFF;
    box-sizing: border-box;
  }
  .header_menu__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .header_menu__btn svg {
    margin-right: 5px;
  }
  .header_menu__btn svg:last-of-type {
    margin: 0;
  }
  .main {
    width: 100%;
  }
  .main_block {
    width: auto;
    margin: 80px 20px 51px 20px;
    flex-direction: column-reverse;
    padding: 0;
  }
  .main_img {
    width: 209px;
    height: 204px;
  }
  .main_container {
    width: 100%;
    margin: 53px 0 0 0;
    padding: 0;
  }
  .main_title {
    margin-bottom: 22px;
    font-weight: 800;
    font-size: 27px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
  }
  .main_text {
    width: 100%;
    margin-bottom: 34px;
  }
  .main_btn {
    width: 100%;
    height: 60px;
    line-height: 175%;
    border-radius: 10px;
  }
  .services {
    padding: 16px 20px 30px;
  }
  .services_block {
    width: auto;
  }
  .services_title {
    margin-bottom: 17px;
    font-size: 23px;
    line-height: 150%;
    text-align: center;
    color: #111111;
  }
  .services_list {
    width: 100%;
  }
  .services_item {
    position: relative;
    height: auto;
    padding: 14px 26px 17px 24px;
  }
  .services_item__block_title {
    font-size: 17px;
  }
  .services_item__block svg {
    margin-right: 18px;
  }
  .services_item__title {
    height: auto;
  }
  .services_item__ellipse, .services_item__circle {
    width: 15px;
    height: 15px;
  }
  .services_item__text.active {
    padding: 19px 0 50px 0;
  }
  .services_item__text.active p {
    padding-left: 25px;
  }
  .steps_block {
    width: auto;
    padding: 42px 20px 45px 20px;
  }
  .steps_title {
    margin-bottom: 22px;
    font-size: 23px;
    line-height: 150%;
    text-align: center;
    color: #111111;
  }
  .steps_list {
    overflow: hidden;
  }
  .steps_container {
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 615px;
    margin: 0;
    padding: 27px 29px 61px 33px;
  }
  .steps_container__title {
    margin-bottom: 5px;
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
  }
  .steps_container__text {
    margin-bottom: 56px;
    font-weight: 400;
    font-size: 17px;
    line-height: 175%;
    color: #000000;
  }
  .steps_btns {
    margin-top: 25px;
  }
  .steps_btn__prev {
    margin-right: 107px;
  }
  .examples {
    padding: 0;
  }
  .examples_title {
    margin-bottom: 14.37px;
    font-size: 23px;
    line-height: 150%;
  }
  .examples_block {
    width: auto;
    margin: 0 auto;
    padding: 23px 20px 30px 20px;
  }
  .examples_block__img {
    margin-bottom: 15px;
  }
  .examples_block__info.active {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  .examples_block__info.active h2 {
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .examples_block__info.active p {
    font-size: 17px;
  }
  .examples_block .carousel {
    display: block;
  }
  .examples_container {
    display: none;
  }
  .examples_container__img {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 15px;
  }
  .examples_container__svg {
    display: block;
    width: 38.86px;
    height: 38.86px;
    bottom: -18px;
    right: 33px;
  }
  .examples_btns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .examples_btn__prev, .examples_btn__next {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border: 2px solid #67AEFC;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
  }
  .examples_btn__prev:first-child, .examples_btn__next:first-child {
    margin-right: 107px;
  }
  .examples_btn__next_icon {
    background-image: url("../images/step_arrow2.svg");
  }
  .examples_btn__prev_icon {
    background-image: url("../images/step_arrow1.svg");
  }
  .examples_btn__prev, .examples_btn__next {
    position: static;
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border: 2px solid #67AEFC;
    border-radius: 15px;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
  }
  .info_block {
    width: auto;
    flex-direction: column;
    padding: 43px 19px 50px 21px;
  }
  .info_title {
    display: none;
  }
  .info_title__mobile {
    display: block;
    margin-bottom: 27px;
    font-weight: 800;
    font-size: 23px;
    line-height: 150%;
    text-align: center;
    color: #111111;
  }
  .info_btn {
    width: 100%;
    margin-bottom: 40px;
    border-radius: 10px;
  }
  .info_img {
    width: 100%;
  }
  .discuss {
    padding: 42px 20px 25px 20px;
  }
  .discuss_block {
    width: auto;
  }
  .discuss_title {
    margin-bottom: 17px;
    font-size: 23px;
    line-height: 150%;
    text-align: center;
  }
  .discuss_text {
    margin-bottom: 25px;
    font-size: 17px;
    text-align: center;
    color: #111111;
  }
  .discuss_form {
    margin-bottom: 15px;
  }
  .discuss_form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 19px 0 19px 16.75px;
    color: #939393;
  }
  .discuss_form input:last-of-type {
    margin: 0;
  }
  .discuss_btn {
    margin: 0 0 42px;
    width: 100%;
    border-radius: 10px;
  }
  .discuss_svg__mobile {
    display: block;
    margin: 0 auto;
  }
  .footer_block {
    width: auto;
    flex-direction: column;
    padding: 46px 40px 141px 46px;
  }
  .footer_block > div:first-child {
    margin: 0;
  }
  .footer_contact {
    flex-direction: column;
  }
  .footer_container {
    margin: 27.62px 0 68.5px 0;
  }
  .footer_container__img {
    margin-right: 25px;
  }
  .footer_container__img :last-of-type {
    margin: 0;
  }
  .footer_phone {
    margin: 0 0 41px;
  }
  .footer_phone p {
    margin-bottom: 16px;
  }
  .footer_email {
    margin-top: 23.42px;
  }
}/*# sourceMappingURL=styles.css.map */